.imageCaptureMainDiv {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.cameraSection-image {
  height: 5rem;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
}

.progress-bar-gemAuthentication {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: var(--bs-progress-bar-color);
  text-align: center;
  white-space: nowrap;
  background-color: var(--bs-progress-bar-bg);
  transition: var(--bs-progress-bar-transition);
}
